:root {
	--blue: #61cef4;
	--grey: #f5f7f6;
	--medium-grey: #c1c2c1;
	--dark-grey: #2b3038;
	--green: #00d28a;
	--red: #fd6873;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
	color: var(--dark-grey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
